.removed {
    -fx-background-color: red;
    -fx-fill: white;
    -fx-font-weight: bold;
}
.added {
    -fx-background-color: green;
    -fx-fill: white;
    -fx-font-weight: bold;
}
.changed {
    -fx-background-color: orange;
    -fx-fill: white;
    -fx-font-weight: bold;
}