.diff-outline .line:unchanged {
    -fx-fill: grey;
}
.diff-outline .line:changed {
    -fx-fill: orange;
}
.diff-outline .line:new {
    -fx-fill: pink;
}
.diff-outline .line:removed {
    -fx-fill: yellow;
}

.diff-outline .viewport-line {
    -fx-stroke: red;
    -fx-fill: #edd80655;
}