.diff-outline .line:unchanged {
    -fx-fill: transparent;
}
.diff-outline .line:changed {
    -fx-fill: orange;
}
.diff-outline .line:new {
    -fx-fill: green;
}
.diff-outline .line:removed {
    -fx-fill: red;
}
.diff-outline .viewport-line {
    -fx-stroke: lightblue;
    -fx-fill: #add8e655;
}